<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>servlets.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajServlet</servlet-name>
        <servlet-class>servlets.DodajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityServlet</servlet-name>
        <servlet-class>servlets.QuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>servlets.CancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>servlets.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelUserServlet</servlet-name>
        <servlet-class>servlets.CancelUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>servlets.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OKorisnikuServlet</servlet-name>
        <servlet-class>servlets.OKorisnikuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelProductAdminServlet</servlet-name>
        <servlet-class>servlets.CancelProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniUsluguServlet</servlet-name>
        <servlet-class>servlets.IzmeniUsluguServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/RegistracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajServlet</servlet-name>
        <url-pattern>/DodajServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityServlet</servlet-name>
        <url-pattern>/QuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelUserServlet</servlet-name>
        <url-pattern>/CancelUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OKorisnikuServlet</servlet-name>
        <url-pattern>/OKorisnikuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelProductAdminServlet</servlet-name>
        <url-pattern>/CancelProductAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniUsluguServlet</servlet-name>
        <url-pattern>/IzmeniUsluguServlet</url-pattern>
    </servlet-mapping>
</web-app>
